extends ../views/single_layout

block content
  :markdown
    ### Views

    Roots supports a [multitude](https://github.com/jenius/accord#html) of view engines through the [accord](https://github.com/jenius/accord) library.

    ### View engines
    By default, the roots [base](https://github.com/roots-dev/base) includes the jade view engine.

    A view engine is the name of an npm package, 

    Here is the setup for various views:

  table
    thead
      tr
        th Name
        th Supported Engines
        th Extensions
    tbody
      mixin engine(name, engines, extensions)
        tr
          td= name
          td= engines
          td= extensions

      +engine('Jade', 'Yade, Jade', '.jade')
      +engine('Eco', 'Eco', '.eco')
      +engine('Ejs', 'Ejs', '.ejs')
      +engine('Markdown', 'Marked', '.md .mdown .markdown')
      +engine('Mustache', 'Hogan', '.mustache .hogan')
      +engine('Handlebars', 'handlebars', '.hbs .handlebars')
      +engine('Haml', 'hamljs', '.haml')
      +engine('Swig', 'swig', '.swig')
      +engine('Marc', 'marc', '.md')
      +engine('Toffee', 'toffee', '.toffee')
      +engine('Dot', 'dot', '.dot')

  :markdown
    ### Default locals 
    Views are provided with a few locals by default:
    - `_path` This is the URL path for the current page

    ### Custom locals
    To add locals to your project, you can modify the `app.coffee` with a new property `locals`

    ```coffee
      locals:
        title: 'Roots: Enlightened Static Sites'
        author: 'Jeff Escalante'
        description: 'Roots: a modern, powerful, and open source static site generator'
    ```
